@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2eed;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  margin: 0;
}

nav {
  background-color: var(--primary-color);
  border-right: solid 0.2rem rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 3rem 0;
  text-align: center;
}

nav .logo img {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  padding: 2rem;
  border-bottom: solid 0.2rem rgba(200, 200, 200, 0.1);
}

nav ul li:first-of-type {
  border-top: solid 0.2rem rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  text-align: center;
  padding: 4rem 1.5rem;
}

header h1 {
  margin: 0;
}

header p {
  margin: 3rem 0;
}

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.cta-btn {
  font-size: 2rem;
  padding: 1.2rem 3rem;
}

.container {
  padding: 1.5rem;
  max-width: 100%;
  width: 80rem;
  margin: 0 auto;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 40rem;
  overflow: hidden;
}

.modal-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1.5rem;
}

.modal-header h3 {
  margin: 0;
  border-bottom: solid 0.1rem #333;
}

.modal-content {
  padding: 1.5rem;
}

.modal-form div {
  margin: 1.5rem 0;
}

.modal-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.modal-form .form-input {
  width: 100%;
  padding: 0.8rem;
}

.close-btn {
  background-color: transparent;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
}
